<style>
  

    h1 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #333;
       
    }

    h2 {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 6px;
        color: #666;
        text-align: left;
        width: 100%;
    }

    p {
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 5px;
        color: #666;
    }

    section div{
       
        overflow-y: auto;
        padding: 10px;
    }

</style>


<section class="pageContent"> 

    <br>
    <br>
    <br>  
   <div>
    <h1>  How to Input Values in the Heart Disease Detection Form</h1>
      
    <h2>Age</h2>
     <p> Your age plays a crucial role in assessing heart health. Please use the age slider to select your age between 18 and 80 years. The default value is set to 24 years.
  </p>
      <h2>Sex</h2>
      <p>
          Indicate your sex by selecting the appropriate option from the dropdown menu. Choose "Male" or "Female" to provide accurate information about your gender.
      
      </p>
      <h2>Max Blood Pressure</h2>
      <p>
          Input your maximum blood pressure reading in millimeters of
           mercury (mmHg). Use the range slider to select
            a value between 80 and 200 mmHg. The default
          value is 100 mmHg.
      
      </p>
      <h2>Cholesterol</h2>
      <p>
          Cholesterol levels are measured in milligrams 
          per deciliter (mg/dL). Adjust the range slider 
          to input your cholesterol reading, which should
           fall between 100 and 300 mg/dL. The default
            value is 200 mg/dL.
      </p>
      <h2>Fasting Blood Sugar</h2>
      <p>
          Fasting blood sugar levels are
           important indicators of heart
            health and are measured in milligrams
             per deciliter (mg/dL). Use the range
              slider to select a value between
               70 and 200 mg/dL. The default value 
               is 100 mg/dL.
      
      </p>
      <h2>Max Heart Rate</h2>
     <p>
       Input your maximum heart rate in beats per minute
       (bpm). Adjust the range slider to choose a value
       between 60 and 220 bpm. The default value is 120
        bpm.
     
     </p> 
      <h2>Exercise Induced Angina</h2>
     <p>
       Let us know if you experience exercise-induced
        angina. Select "Yes" if you do, or "No" if you
         don't, from the dropdown menu.
     
     </p> 
      <h2>ST Depression</h2>
      <p>ST depression is often measured in millimeters
         (mm) and indicates the degree of ischemia
          (lack of oxygen to the heart muscle).
          Use the dropdown menu to select the
           appropriate value for ST depression.
            Typical ranges vary from 0 mm 
            (no depression) to around 3 mm or more, 
            with values above 2 mm considered clinically
             significant.
      </p>
      <h2>Chest Pain Type</h2>
      <p>Indicate your chest pain type 
           <p>
            Typical Angina (option value: "typical_angina"): This is a type of chest pain or discomfort that occurs when the heart muscle doesn't get enough blood flow, usually during physical activity or stress. It's often described as a tight, squeezing, or heavy sensation in the chest. Given that this is a significant indicator of possible heart-related issues, you might associate it with a higher number on your scale.

           </p>
<p>
    Atypical Anginal (option value: "atypical_anginal"): Atypical angina refers to chest pain that doesn't fit the typical description of angina. It might still indicate heart-related issues, but the symptoms may vary and not necessarily be triggered by physical activity or stress. You might assign a moderate value on your scale.

</p>
<p>Non Anginal Pain (option value: "non_anginal_pain"): Non-anginal pain refers to chest discomfort that is not directly related to the heart. It's often related to other factors such as muscle strain, anxiety, or digestive issues. Since it's less indicative of heart problems compared to the other options, you might assign a lower value on your scale.
</p>
<span>Typical Angina: 4
    Atypical Anginal: 3
    Non Anginal Pain: 2</span>
      </p>
      <h2>Resting ECG</h2>
     <p> Select your resting electrocardiogram (ECG)
         reading from the dropdown menu. 
         Choose between "Normal," "ST-T Wave Abnormality," or "Left Ventricular Hypertrophy."
  </p>
     <h2> ST Slope</h2>
      <p>Choose the slope of the ST segment during peak exercise. Select either "Flat" or "Up Slopping" from the dropdown menu.
      </p>
      
      <p>    By providing accurate and detailed information, you'll help us generate a reliable prediction about your heart health using our machine learning model.
      </p>
   </div>
</section>