<link rel="stylesheet" href="/css/auth.css">

  
  <form class="authBox" action="/auth/login" method="post">
  <h1>Login</h1>
  <span class="inputFieldContainer">
    <input type="email" name="email" placeholder="Email Address" />
  </span>
  <span class="inputFieldContainer">
    <input type="password" placeholder="Password" name="password" required/>
  </span>
 <div class="buttonBox">
  <button>Login</button>
 </div>

 <span><a href="/auth/createAccount" style="color: blue;">Create</a> a new account</span>

</form>

